In [1]:
import pandas as pd
import json
import numpy as np

from DataProcessing import RecsData as recs

In [2]:
offers = recs("../data/offering.txt")
offers_df = offers.to_dataframe()
offers_df.head()

Initialize the dataset

4333it [00:00, 92379.54it/s]
100%|███████████████████████████████████████████████████████████████████████████| 4333/4333 [00:00<00:00, 51464.36it/s]
100%|███████████████████████████████████████████████████████████████████████████| 4333/4333 [00:00<00:00, 83038.26it/s]

Parse into dictionnary
Clean the dictionnary

,hotel_class,region_id,url,phone,details,address,type,id,name
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '147 West 4...",hotel,113317,Casablanca Hotel Times Square
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,NaN,NaN,"{'region': 'CA', 'street-address': '300 S Dohe...",hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '790 Eighth...",hotel,99352,Hilton Garden Inn Times Square
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '152 West 5...",hotel,93589,The Michelangelo Hotel
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '130 West 4...",hotel,217616,The Muse Hotel New York