In [1]:
import pandas as pd
import json
import numpy as np
from tqdm import tqdm

from DataProcessing import RecsData as recs

In [2]:
offers = recs("../data/offering.txt")
offers_df = offers.to_dataframe()
offers_df.head()

Initialize the dataset

4333it [00:00, 93892.46it/s]

Parse into json

100%|███████████████████████████████████████████████████████████████████████████| 4333/4333 [00:00<00:00, 77371.71it/s]

Read to dataframe

100%|██████████████████████████████████████████████████████████████████████████| 4333/4333 [00:00<00:00, 152426.12it/s]

,hotel_class,region_id,url,phone,details,address,type,id,name
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '147 West 4...",hotel,113317,Casablanca Hotel Times Square
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,NaN,NaN,"{'region': 'CA', 'street-address': '300 S Dohe...",hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '790 Eighth...",hotel,99352,Hilton Garden Inn Times Square
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '152 West 5...",hotel,93589,The Michelangelo Hotel
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,"{'region': 'NY', 'street-address': '130 West 4...",hotel,217616,The Muse Hotel New York

In [4]:
offers_df['address'][0]

{'region': 'NY',
 'street-address': '147 West 43rd Street',
 'postal-code': '10036',
 'locality': 'New York City'}

In [3]:
reviews = recs("../data/review.txt")

Initialize the dataset

878561it [00:36, 23824.34it/s]

In [6]:
reviews_df = reviews.to_dataframe(prc=0.25)
reviews_df.head()

Parse into json

100%|████████████████████████████████████████████████████████████████████████| 219640/219640 [00:53<00:00, 4113.10it/s]

Read to dataframe

100%|███████████████████████████████████████████████████████████████████████| 219640/219640 [00:07<00:00, 30255.66it/s]

,ratings,title,text,author,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile
0,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...","“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,"{'username': 'Papa_Panda', 'num_cities': 22, '...",December 2012,93338,0,"December 17, 2012",147643103,False
1,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...","{'username': 'Maureen V', 'num_reviews': 2, 'n...",December 2012,93338,0,"December 17, 2012",147639004,False
2,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Great Stay”,This is a great property in Midtown. We two di...,"{'username': 'vuguru', 'num_cities': 12, 'num_...",December 2012,1762573,0,"December 18, 2012",147697954,False
3,"{'service': 5.0, 'cleanliness': 5.0, 'overall'...",“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,"{'username': 'Hotel-Designer', 'num_cities': 5...",August 2012,1762573,0,"December 17, 2012",147625723,False
4,"{'service': 4.0, 'cleanliness': 5.0, 'overall'...",“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,"{'username': 'JamesE339', 'num_cities': 34, 'n...",December 2012,1762573,0,"December 17, 2012",147612823,False

In [12]:
offers_id = reviews_df['offering_id'].unique()

(715,)

In [15]:
offers_df['id'].unique().shape

(4333,)

In [ ]:
offers_df[offers_df['id'].isin(offers_id)].head()